<html>
  <head>
    <title>Blackjack</title>
    <link href="styles/app.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    <script id="restartTemplate" type="text.html">
      <div class=restart-game>
        <div class=winner><%= gameEnd %></div>
        <button class="reset-game">Deal again?</button>
        Bet size? <input type="number" class="bet" value='10' autofocus></input>
      </div>
    </script>

    <script id="scoreTemplate" type="text.html">
      <div class=score>
        <div class="betSize">Bet: <%= bet %></div>
        <div class="pot">Player Chips: <%= chips %></div>
        <div class="player">Player Wins: <%= playerWins %></div>
        <div class="dealer">Dealer Wins: <%= dealerWins %></div>
      </div>
    </script>

    <script id="gameOverTemplate" type="text.html">
      <div class="end-game">
        GAME OVER. BOOM
      </div>
    </script>

    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>

    <script src="compiled/client/models/Card.js"></script>
    <script src="compiled/client/collections/Hand.js"></script>
    <script src="compiled/client/collections/DealerHand.js"></script>
    <script src="compiled/client/collections/Deck.js"></script>
    <script src="compiled/client/models/App.js"></script>
    <script src="compiled/client/models/Game.js"></script>

    <script src="compiled/client/views/CardView.js"></script>
    <script src="compiled/client/views/HandView.js"></script>
    <script src="compiled/client/views/GameView.js"></script>
    <script src="compiled/client/views/DeckView.js"></script>
    <script src="compiled/client/views/ScoreView.js"></script>
    <script src="compiled/client/views/AppView.js"></script>

    <script src="compiled/client/main.js"></script>
  </body>
</html>
